.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

# Intellij IDEA (see https://intellij-support.jetbrains.com/entries/23393067)
.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids
